<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Job order system</title>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <style>
        .registration-form {
            width: 300px;
            margin: 0 auto;
            font-family: Tahoma, Geneva, sans-serif;
        }

        .alert-failure {
            color: #ca0000;
        }

        .registration-form h1 {
            text-align: center;
            color: #4d4d4d;
            font-size: 24px;
            padding: 20px 0 20px 0;
        }

        .registration-form input[type="submit"] {
            width: 100%;
            padding: 15px;
            background-color: #254d31;
            border: 0;
            box-sizing: border-box;
            cursor: pointer;
            font-weight: bold;
            color: #ffffff;
        }
    </style>
</head>

<body>
    <div class="registration-form">
        <h1>Opps! You have encountered an Error</h1>
        <div>
            <% if (locals.error) { %>
            <div class="alert-failure"><%= error.message %></div>
            <form action="/" method="GET">
                <input type="submit" value="Go back to home">
            </form>

            <br>

            <form action="/login" method="GET">
                <input type="submit" value="Login">
            </form>

            <% } %>
        </div>
    </div>
</body>

</html>